<div fxLayout="column" fxLayoutGap="20px">

  <div class="content" fxLayout="row" fxLayoutAlign="center none">
    <!--  <div class="mat-app-background basic-container">-->
    <app-table-expandable-rows>loading2</app-table-expandable-rows>
    <!--  </div>-->
  </div>
  <div class="content" fxLayout="row" fxLayoutAlign="center space-around">

    <app-api-card
      (apiClick)="makeRequest($event)"
      [responseObj]="allTransactionsResponse"
      apiText="/api/getTransactionsFromPdf"
      content='Get all pdf transactions'
      fxFlex
      imgUrl="assets/image/foo.png"
      subTitle=""
      title='"Get Pdf Transactions"'
    >
    </app-api-card>

    <app-api-card
      (apiClick)="makeRequest($event)"
      [responseObj]="whoamIResponse"
      apiText="/api/whoami"
      content='The regular endpoint which returns the current user information. You have to sign in as either a User or an Admin to gain the access to this endpoint.'
      fxFlex
      imgUrl="assets/image/user.png"
      subTitle="Authorized role: USER"
      title='"Who am I"'
    >
    </app-api-card>

    <app-api-card
      (apiClick)="makeRequest($event)"
      [responseObj]="allUserResponse"
      apiText="/api/user/all"
      class="last"
      content='This endpoint will give you a list of all the users. You have to sign in as an Admin to gain the access to this endpoint.'
      fxFlex
      imgUrl="assets/image/admin.png"
      subTitle="Authorized role: ADMIN"
      title='"All users"'
    >
    </app-api-card>

  </div>

  <!--<div class="content" fxLayout="row" fxLayoutAlign="center none">-->
  <!--&lt;!&ndash;  <mat-card>&ndash;&gt;-->
  <!--&lt;!&ndash;    <mat-card-header>&ndash;&gt;-->
  <!--&lt;!&ndash;      Load transactions from PDF&ndash;&gt;-->
  <!--&lt;!&ndash;    </mat-card-header>&ndash;&gt;-->
  <!--&lt;!&ndash;    <mat-card-actions>&ndash;&gt;-->
  <!--&lt;!&ndash;      <button&ndash;&gt;-->
  <!--&lt;!&ndash;        (click)="onPdfLoadClick()"&ndash;&gt;-->
  <!--&lt;!&ndash;        color="primary"&ndash;&gt;-->
  <!--&lt;!&ndash;        mat-raised-button>&ndash;&gt;-->
  <!--&lt;!&ndash;        Load!&ndash;&gt;-->
  <!--&lt;!&ndash;      </button>&ndash;&gt;-->
  <!--&lt;!&ndash;    </mat-card-actions>&ndash;&gt;-->
  <!--&lt;!&ndash;  </mat-card>&ndash;&gt;-->

  <!--  <app-api-card-->
  <!--    (apiClick)="makeRequest($event)"-->
  <!--    [responseObj]="allTransactionsResponse"-->
  <!--    apiText="/api/getTransactionsFromPdf"-->
  <!--    class="last"-->
  <!--    content='Get all pdf transactions'-->
  <!--    fxFlex-->
  <!--    imgUrl="assets/image/admin.png"-->
  <!--    subTitle=""-->
  <!--    title='"Get Pdf Transactions"'-->
  <!--  >-->
  <!--  </app-api-card>-->
  <!--</div>-->
</div>
<app-github></app-github>
